.left-grid, .right-grid {
  width: 150px;
  background-image: url(https://wallpaperplay.com/walls/full/9/e/3/156701.jpg);
  padding-left: 30px;
}

.main-grid {
  width: 100%;
  background-image: url(https://wallpaperaccess.com/full/489748.png);
  padding-right: 0;
}

.sidebar-links {
  list-style-type: none;
}

.grid-control {
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

figure {
  float: left;
  margin-right: 15px;
}

figure .img1 {
  width: 300px;
}

.panel-heading h4 {
  color: black;
  font-weight: bold;
}

body {
  font-family: lato;
}

.panel-body {
  font-size: 16px;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.title {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  font-variant: small-caps;
}

.bottom {
  color: white;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.queer {
  font-variant-caps: all-small-caps;
}

.morse {
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 20px;
  margin-top: 40px;
  margin-left: 27px;
  user-select: none;
}

.right-grid .morse {
  transform: none;
}

.panel-default {
  border-width: thin;
  border-color: black;
}

.panel-heading {
  border-width: medium;
}
