.left-grid {
  float: left;
  width: 300px;
  background-image: url(/home/lee/Desktop/Epicodus/portfolio/img/forest.jpg);
  padding-left: 30px;
  color: white;
  height: 1425px;
}

.right-grid {
  float: right;
  width: 100%;
  background-color: darkgreen;
  /* add background texture */
}

.name {
  font-size: 200px;
  writing-mode: vertical-rl;
  margin-left: 0px;
  padding-bottom: 0px;
}

.grid-control {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.img1 {
  width: 200px;
  float: left;
  margin-right: 15px;
}

h4 {
  color: black;
  font-weight: bold;
}

body {
  font-family: lato;
}

.panel-body {
  font-size: 16px;
}
